
.Parameters {
    display: flex;
    flex-direction: column;

    margin: 0.5rem;
    padding: 1.0rem;
    
    max-width: 28rem; 
    height: fit-content;
    min-height: fit-content;

    border-color: var(--parameters-container-border-color);    
    border-style: solid;
    border-radius: 1rem;
    border-width: 0.1rem;

    font-size: 0.85rem;
    user-select: none;
    background-color: var(--parameters-body-color);
}

#Parameters_Filter {
    min-width: 18rem;
    max-width: 18rem;
}

#Parameters_Integration {
    min-width: 16rem;
    max-width: 16rem;
}

#Parameters_SDOF {
    min-width: 27rem;
    max-width: 27rem;
}

#Parameters_ResSpec {
    min-width: 24rem;
    max-width: 24rem;
}

#Parameters_ResSpec2 {
    min-width: 20rem;
    max-width: 20rem;
}

#Parameters_Spectrum {
    min-width: 25rem;
    max-width: 25rem;
}

#Parameters_SM_Par {
    min-width: 25rem;
    max-width: 25rem;
}

#Parameters_HVSR {
    min-width: 45rem;
    max-width: 45rem;
}

#Parameters_Drift {
    min-width: 45rem;
    max-width: 45rem;
}

.Parameters-Table, .Parameters2-Table {
    border-style: hidden;
    border-collapse: collapse; 
}

.Parameters-Table input, .Parameters2-Table input {
    width: 100%;
    max-width: 12rem; 
    box-sizing: border-box;
    text-align: right;
}

.Parameters2-Table td {
    width: 10%; 
    white-space: nowrap;
}

.Parameters-Table select {
    width: 100%;
    max-width: 12rem; 
    box-sizing: border-box;
    text-align: left;
}

.Parameters-Table2 select {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.Parameters-Table td {
    width: 40%; 
    white-space: nowrap;
}

.Parameters-Table input[type="checkbox"] {
    width: 1rem;
}


.form-custom {
    background-color: #ffffff;
    border: 0.01rem solid #080000;
    border-radius: 5px;
    padding-top: 0.25rem;
    padding-right: 0.1rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;

    appearance: none;
    -webkit-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 5px center;

    cursor: pointer;

    width: 100%;
}

.row-armed {
    background-color: rgba(129, 182, 239, 0.2);
}


/* Hide the 3rd column on screens narrower than 768px (common mobile breakpoint) */
@media (max-width: 767px) {
    .Parameters {
        font-size: 0.8rem;
    }

    #Parameters_ResSpec {
        min-width: 20rem;
        max-width: 20rem;
    }
    #Parameters_SDOF {
        min-width: 20rem;
        max-width: 20rem;
    }

    .Parameters input {
        font-size: 0.8rem;
    }
}

/* For very small screens */
@media (max-width: 480px) {
    .Parameters {
        font-size: 0.8rem;
    }

    .Parameters input {
        font-size: 0.8rem;
    }
}