

.Plotly_Main_Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20rem;
    min-height: 20rem;
    margin: 0rem;
    margin-top: 1rem;
    padding: 0rem;
    overflow-y: scroll;
    scrollbar-width: none;
    font-size: 0.8rem;

    background-color: #ffffff;
}

.Plotly_Div {
    flex-direction: row;
    width: calc(100% - 15rem);
    height: 100%;
    margin-left: 1rem;
}


/* Plotly ModeBar */
.modebar {
    position: absolute !important;
    top: 1.1rem !important;
    right: 1.5rem !important;
}

/* Hide all Plotly titles in Panel2 for large screens */
#panel2 .gtitle {
  display: none !important;
}


.Plotly_Info_Div {
    display: flex;
    flex-direction: column;

    margin-left: 1.5rem;

    overflow-y: scroll;
    scrollbar-width: none;

    width: 15rem;
    min-width: 20rem;
    height: 100%;
}

.Plotly_Span_Title {
    display: flex;
    flex-direction: column;
    
    margin-top: 1rem;;
    padding: 0rem;
    font-weight: bold;

    user-select: none;
}

.Plotly_Span_ChannelInfo {
    display: flex;
    flex-direction: column;
    padding-top: 0.2rem;
    padding-left: 0rem;
    font-weight: bold;
    white-space: pre-wrap; /* Preserves all spaces and line breaks in text */

    user-select: none;
}

.Plotly_Stat_Table {
    margin-top: 0.5rem;
    width: calc(100% - 0.5rem);
    height: fit-content;
}

.Plotly_Stat_Body_Td_Right, .Plotly_Stat_Body_Td_Left {
    text-align: right;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    user-select: none;
}

.Plotly_Stat_Body_Td_Left {
    text-align: left;
    font-weight: bold;
    user-select: none;
}






.Filter_Div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Filter_Div_Span {
    text-align: left;
    white-space: pre-wrap; /* Preserves all spaces and line breaks in text */
}


/* Media queries: On small screens, start with sidebar collapsed */
@media (max-width: 768px) { 

    .Plotly_Div {
        width: 100%;
    }

    .Plotly_Info_Div {
        display: none;
    }

    .modebar {
        display: none; /* Hide ModeBar in Plotly */
    }

    /* Show all Plotly titles in Panel2 for small screens */
    #panel2 .gtitle {
        display: block !important;
    }

}